body,
button,
input,
select,
optgroup,
textarea {
	// color: $color__text-main;
	color: $black;
	font-family: $font__serif;
	@include font-size(0.8);
	line-height: $font__line-height-body;

		@media screen and (min-width: 700px)	{
			 @include font-size(.9);

		}
}

@import "headings";

@import "copy";
