// $font__main: $font__serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.4;
$font__line-height-pre: 1.5;

/* custom w/ backup default fonts*/

/* default */
$font__main: sans-serif;

$font__serif: 'PT Serif',Georgia,Cambria,"Times New Roman",Times,serif;
$font__script: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
$font__body-font: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font__header-font: 'Source Sans Pro',"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
